<div class="preloader" id="preloader" aria-hidden="true">
  <div class="preloader__inner">
    <div class="preloader__mark">Virtuoso Catering House</div>
    <div class="preloader__bar">
      <div class="preloader__bar-fill" id="preloader-fill"></div>
    </div>
  </div>
</div>
